<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundles</key>
	<dict>
		<key>source.actionscript</key>
		<integer>1</integer>
		<key>source.active4d</key>
		<integer>1</integer>
		<key>source.active4d.library</key>
		<integer>1</integer>
		<key>source.ada</key>
		<integer>1</integer>
		<key>source.antlr</key>
		<integer>1</integer>
		<key>source.apache-config</key>
		<integer>1</integer>
		<key>source.apache-config.mod_perl</key>
		<integer>1</integer>
		<key>source.applescript</key>
		<integer>1</integer>
		<key>source.asp</key>
		<integer>1</integer>
		<key>source.asp.vb.net</key>
		<integer>1</integer>
		<key>source.c</key>
		<integer>1</integer>
		<key>source.c++</key>
		<integer>1</integer>
		<key>source.c++.qt</key>
		<integer>1</integer>
		<key>source.c-sharp</key>
		<integer>1</integer>
		<key>source.c.ragel</key>
		<integer>1</integer>
		<key>source.camlp4.ocaml</key>
		<integer>1</integer>
		<key>source.cm</key>
		<integer>1</integer>
		<key>source.coffee</key>
		<integer>1</integer>
		<key>source.context-free</key>
		<integer>1</integer>
		<key>source.css</key>
		<integer>1</integer>
		<key>source.d</key>
		<integer>1</integer>
		<key>source.diff</key>
		<integer>1</integer>
		<key>source.dot</key>
		<integer>1</integer>
		<key>source.dylan</key>
		<integer>1</integer>
		<key>source.eiffel</key>
		<integer>1</integer>
		<key>source.erlang</key>
		<integer>1</integer>
		<key>source.fortran</key>
		<integer>1</integer>
		<key>source.fscript</key>
		<integer>1</integer>
		<key>source.fxscript</key>
		<integer>1</integer>
		<key>source.gri</key>
		<integer>1</integer>
		<key>source.groovy.groovy</key>
		<integer>1</integer>
		<key>source.haskell</key>
		<integer>1</integer>
		<key>source.icalendar</key>
		<integer>1</integer>
		<key>source.inform</key>
		<integer>1</integer>
		<key>source.ini</key>
		<integer>1</integer>
		<key>source.io</key>
		<integer>1</integer>
		<key>source.java</key>
		<integer>1</integer>
		<key>source.java-props</key>
		<integer>1</integer>
		<key>source.js</key>
		<integer>1</integer>
		<key>source.js.greasemonkey</key>
		<integer>1</integer>
		<key>source.js.jquery</key>
		<integer>1</integer>
		<key>source.js.mootools</key>
		<integer>1</integer>
		<key>source.js.prototype</key>
		<integer>1</integer>
		<key>source.js.prototype.bracketed</key>
		<integer>1</integer>
		<key>source.js.yui</key>
		<integer>1</integer>
		<key>source.json</key>
		<integer>1</integer>
		<key>source.lex</key>
		<integer>1</integer>
		<key>source.lighttpd-config</key>
		<integer>1</integer>
		<key>source.lilypond</key>
		<integer>1</integer>
		<key>source.lisp</key>
		<integer>1</integer>
		<key>source.logo</key>
		<integer>1</integer>
		<key>source.logtalk</key>
		<integer>1</integer>
		<key>source.lua</key>
		<integer>1</integer>
		<key>source.makefile</key>
		<integer>1</integer>
		<key>source.matlab</key>
		<integer>1</integer>
		<key>source.mel</key>
		<integer>1</integer>
		<key>source.mips</key>
		<integer>1</integer>
		<key>source.ml</key>
		<integer>1</integer>
		<key>source.modula-3</key>
		<integer>1</integer>
		<key>source.nant-build</key>
		<integer>1</integer>
		<key>source.objc</key>
		<integer>1</integer>
		<key>source.objc++</key>
		<integer>1</integer>
		<key>source.ocaml</key>
		<integer>1</integer>
		<key>source.ocamllex</key>
		<integer>1</integer>
		<key>source.ocamlyacc</key>
		<integer>1</integer>
		<key>source.open-gl</key>
		<integer>1</integer>
		<key>source.pascal</key>
		<integer>1</integer>
		<key>source.pascal.vectorscript</key>
		<integer>1</integer>
		<key>source.perl</key>
		<integer>1</integer>
		<key>source.php</key>
		<integer>1</integer>
		<key>source.php.cake</key>
		<integer>1</integer>
		<key>source.plist.tm-grammar</key>
		<integer>1</integer>
		<key>source.postscript</key>
		<integer>1</integer>
		<key>source.processing</key>
		<integer>1</integer>
		<key>source.prolog</key>
		<integer>1</integer>
		<key>source.python</key>
		<integer>1</integer>
		<key>source.python.django</key>
		<integer>1</integer>
		<key>source.qmake</key>
		<integer>1</integer>
		<key>source.quake-config</key>
		<integer>1</integer>
		<key>source.r</key>
		<integer>1</integer>
		<key>source.r-console</key>
		<integer>1</integer>
		<key>source.regexp</key>
		<integer>1</integer>
		<key>source.regexp.oniguruma</key>
		<integer>1</integer>
		<key>source.regexp.python</key>
		<integer>1</integer>
		<key>source.remind</key>
		<integer>1</integer>
		<key>source.rez</key>
		<integer>1</integer>
		<key>source.ruby</key>
		<integer>1</integer>
		<key>source.ruby.experimental</key>
		<integer>1</integer>
		<key>source.ruby.rails</key>
		<integer>1</integer>
		<key>source.s5</key>
		<integer>1</integer>
		<key>source.sass</key>
		<integer>1</integer>
		<key>source.scala</key>
		<integer>1</integer>
		<key>source.scheme</key>
		<integer>1</integer>
		<key>source.scilab</key>
		<integer>1</integer>
		<key>source.scss</key>
		<integer>1</integer>
		<key>source.shell</key>
		<integer>1</integer>
		<key>source.slate</key>
		<integer>1</integer>
		<key>source.smarty</key>
		<integer>1</integer>
		<key>source.sql</key>
		<integer>1</integer>
		<key>source.sql.ruby</key>
		<integer>1</integer>
		<key>source.ssh-config</key>
		<integer>1</integer>
		<key>source.strings</key>
		<integer>1</integer>
		<key>source.swig</key>
		<integer>1</integer>
		<key>source.tcl</key>
		<integer>1</integer>
		<key>source.tcl.macports</key>
		<integer>1</integer>
		<key>source.yaml</key>
		<integer>1</integer>
		<key>text.active4d-ini</key>
		<integer>1</integer>
		<key>text.bbcode</key>
		<integer>1</integer>
		<key>text.bibtex</key>
		<integer>1</integer>
		<key>text.blog</key>
		<integer>1</integer>
		<key>text.blog.html</key>
		<integer>1</integer>
		<key>text.blog.markdown</key>
		<integer>1</integer>
		<key>text.blog.textile</key>
		<integer>1</integer>
		<key>text.gtdalt</key>
		<integer>1</integer>
		<key>text.haml</key>
		<integer>1</integer>
		<key>text.html.asp</key>
		<integer>1</integer>
		<key>text.html.asp.net</key>
		<integer>1</integer>
		<key>text.html.basic</key>
		<integer>1</integer>
		<key>text.html.cfm</key>
		<integer>1</integer>
		<key>text.html.django</key>
		<integer>1</integer>
		<key>text.html.dokuwiki</key>
		<integer>1</integer>
		<key>text.html.doxygen</key>
		<integer>1</integer>
		<key>text.html.markdown.multimarkdown</key>
		<integer>1</integer>
		<key>text.html.mason</key>
		<integer>1</integer>
		<key>text.html.mediawiki</key>
		<integer>1</integer>
		<key>text.html.mt</key>
		<integer>1</integer>
		<key>text.html.ruby</key>
		<integer>1</integer>
		<key>text.html.strict.active4d</key>
		<integer>1</integer>
		<key>text.html.tcl</key>
		<integer>1</integer>
		<key>text.html.textile</key>
		<integer>1</integer>
		<key>text.html.tt</key>
		<integer>1</integer>
		<key>text.html.twiki</key>
		<integer>1</integer>
		<key>text.html.xhtml.1-strict</key>
		<integer>1</integer>
		<key>text.log.latex</key>
		<integer>1</integer>
		<key>text.mail.markdown</key>
		<integer>1</integer>
		<key>text.man</key>
		<integer>1</integer>
		<key>text.markdown</key>
		<integer>1</integer>
		<key>text.moinmoin</key>
		<integer>1</integer>
		<key>text.plain</key>
		<integer>1</integer>
		<key>text.plain.gtd</key>
		<integer>1</integer>
		<key>text.plain.release-notes</key>
		<integer>1</integer>
		<key>text.plist</key>
		<integer>1</integer>
		<key>text.pmwiki</key>
		<integer>1</integer>
		<key>text.restructuredtext</key>
		<integer>1</integer>
		<key>text.setext</key>
		<integer>1</integer>
		<key>text.subversion-commit</key>
		<integer>1</integer>
		<key>text.tabular.csv</key>
		<integer>1</integer>
		<key>text.tabular.tsv</key>
		<integer>1</integer>
		<key>text.tex</key>
		<integer>1</integer>
		<key>text.tex.latex</key>
		<integer>1</integer>
		<key>text.tex.latex.beamer</key>
		<integer>1</integer>
		<key>text.tex.latex.haskell</key>
		<integer>1</integer>
		<key>text.tex.latex.memoir</key>
		<integer>1</integer>
		<key>text.tex.latex.rd</key>
		<integer>1</integer>
		<key>text.tex.latex.sweave</key>
		<integer>1</integer>
		<key>text.tex.math</key>
		<integer>1</integer>
		<key>text.txt2tags</key>
		<integer>1</integer>
		<key>text.xml</key>
		<integer>1</integer>
		<key>text.xml.apple-dist</key>
		<integer>1</integer>
		<key>text.xml.strict</key>
		<integer>1</integer>
		<key>text.xml.xsl</key>
		<integer>1</integer>
	</dict>
	<key>fileTypes</key>
	<dict>
		<key>.bash_login</key>
		<array>
			<string>source.shell.plist</string>
		</array>
		<key>.bash_logout</key>
		<array>
			<string>source.shell.plist</string>
		</array>
		<key>.bash_profile</key>
		<array>
			<string>source.shell.plist</string>
		</array>
		<key>.bashrc</key>
		<array>
			<string>source.shell.plist</string>
		</array>
		<key>.profile</key>
		<array>
			<string>source.shell.plist</string>
		</array>
		<key>.reminders</key>
		<array>
			<string>source.remind.plist</string>
		</array>
		<key>.textmate_init</key>
		<array>
			<string>source.shell.plist</string>
		</array>
		<key>C</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>Cakefile</key>
		<array>
			<string>source.coffee.plist</string>
		</array>
		<key>DOT</key>
		<array>
			<string>source.dot.plist</string>
		</array>
		<key>Emakefile</key>
		<array>
			<string>source.erlang.plist</string>
		</array>
		<key>F</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>F77</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>F90</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>F95</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>FOR</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>FPP</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>GNUmakefile</key>
		<array>
			<string>source.makefile.plist</string>
		</array>
		<key>M</key>
		<array>
			<string>source.objc++.plist</string>
		</array>
		<key>Makefile</key>
		<array>
			<string>source.makefile.plist</string>
		</array>
		<key>OCamlMakefile</key>
		<array>
			<string>source.makefile.plist</string>
		</array>
		<key>PL</key>
		<array>
			<string>source.perl.plist</string>
		</array>
		<key>R</key>
		<array>
			<string>source.r.plist</string>
		</array>
		<key>REM*.txt</key>
		<array>
			<string>source.remind.plist</string>
		</array>
		<key>Rakefile</key>
		<array>
			<string>source.ruby.plist</string>
		</array>
		<key>Rnw</key>
		<array>
			<string>text.tex.latex.sweave.plist</string>
		</array>
		<key>Rprofile</key>
		<array>
			<string>source.r.plist</string>
		</array>
		<key>S</key>
		<array>
			<string>source.r.plist</string>
		</array>
		<key>SConscript</key>
		<array>
			<string>source.python.plist</string>
		</array>
		<key>SConstruct</key>
		<array>
			<string>source.python.plist</string>
		</array>
		<key>Sconstruct</key>
		<array>
			<string>source.python.plist</string>
		</array>
		<key>Snw</key>
		<array>
			<string>text.tex.latex.sweave.plist</string>
		</array>
		<key>a4d</key>
		<array>
			<string>text.html.strict.active4d.plist</string>
		</array>
		<key>a4l</key>
		<array>
			<string>source.active4d.library.plist</string>
		</array>
		<key>a4p</key>
		<array>
			<string>text.html.strict.active4d.plist</string>
		</array>
		<key>adb</key>
		<array>
			<string>source.ada.plist</string>
		</array>
		<key>adp</key>
		<array>
			<string>text.html.tcl.plist</string>
		</array>
		<key>ads</key>
		<array>
			<string>source.ada.plist</string>
		</array>
		<key>applescript</key>
		<array>
			<string>source.applescript.plist</string>
		</array>
		<key>as</key>
		<array>
			<string>source.actionscript.plist</string>
			<string>source.mel.plist</string>
		</array>
		<key>asa</key>
		<array>
			<string>source.asp.plist</string>
		</array>
		<key>asm</key>
		<array>
			<string>source.mips.plist</string>
		</array>
		<key>asp</key>
		<array>
			<string>text.html.asp.net.plist</string>
			<string>text.html.asp.plist</string>
		</array>
		<key>autohandler</key>
		<array>
			<string>text.html.mason.plist</string>
		</array>
		<key>bash</key>
		<array>
			<string>source.shell.plist</string>
		</array>
		<key>bbcode</key>
		<array>
			<string>text.bbcode.plist</string>
		</array>
		<key>bib</key>
		<array>
			<string>text.bibtex.plist</string>
		</array>
		<key>blog.html</key>
		<array>
			<string>text.blog.html.plist</string>
		</array>
		<key>blog.markdown</key>
		<array>
			<string>text.blog.markdown.plist</string>
		</array>
		<key>blog.md</key>
		<array>
			<string>text.blog.markdown.plist</string>
		</array>
		<key>blog.mdown</key>
		<array>
			<string>text.blog.markdown.plist</string>
		</array>
		<key>blog.mkdn</key>
		<array>
			<string>text.blog.markdown.plist</string>
		</array>
		<key>blog.textile</key>
		<array>
			<string>text.blog.textile.plist</string>
		</array>
		<key>blog.txt</key>
		<array>
			<string>text.blog.plist</string>
		</array>
		<key>bsh</key>
		<array>
			<string>source.java.plist</string>
		</array>
		<key>build</key>
		<array>
			<string>source.nant-build.plist</string>
		</array>
		<key>builder</key>
		<array>
			<string>source.ruby.rails.plist</string>
		</array>
		<key>c</key>
		<array>
			<string>source.c.plist</string>
		</array>
		<key>c++</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>cc</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>cfc</key>
		<array>
			<string>text.html.cfm.plist</string>
		</array>
		<key>cfdg</key>
		<array>
			<string>source.context-free.plist</string>
		</array>
		<key>cfg</key>
		<array>
			<string>source.quake-config.plist</string>
		</array>
		<key>cfm</key>
		<array>
			<string>text.html.cfm.plist</string>
		</array>
		<key>cfml</key>
		<array>
			<string>text.html.cfm.plist</string>
		</array>
		<key>cgi</key>
		<array>
			<string>source.ruby.plist</string>
		</array>
		<key>cl</key>
		<array>
			<string>source.lisp.plist</string>
		</array>
		<key>cls</key>
		<array>
			<string>text.tex.plist</string>
		</array>
		<key>cm</key>
		<array>
			<string>source.cm.plist</string>
		</array>
		<key>cm3</key>
		<array>
			<string>source.modula-3.plist</string>
		</array>
		<key>coffee</key>
		<array>
			<string>source.coffee.plist</string>
		</array>
		<key>conf</key>
		<array>
			<string>source.apache-config.mod_perl.plist</string>
			<string>source.apache-config.plist</string>
			<string>source.ini.plist</string>
		</array>
		<key>config</key>
		<array>
			<string>source.logtalk.plist</string>
			<string>source.ssh-config.plist</string>
		</array>
		<key>context free</key>
		<array>
			<string>source.context-free.plist</string>
		</array>
		<key>cp</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>cpp</key>
		<array>
			<string>source.c++.plist</string>
			<string>source.c++.qt.plist</string>
		</array>
		<key>cpt</key>
		<array>
			<string>text.xml.plist</string>
		</array>
		<key>cpy</key>
		<array>
			<string>source.python.plist</string>
		</array>
		<key>cs</key>
		<array>
			<string>source.c-sharp.plist</string>
		</array>
		<key>css</key>
		<array>
			<string>source.css.plist</string>
		</array>
		<key>css.erb</key>
		<array>
			<string>source.css.plist</string>
		</array>
		<key>csv</key>
		<array>
			<string>text.tabular.csv.plist</string>
		</array>
		<key>ctp</key>
		<array>
			<string>text.html.basic.plist</string>
		</array>
		<key>cxx</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>d</key>
		<array>
			<string>source.d.plist</string>
		</array>
		<key>ddl</key>
		<array>
			<string>source.sql.plist</string>
		</array>
		<key>defs.rem</key>
		<array>
			<string>source.remind.plist</string>
		</array>
		<key>dem</key>
		<array>
			<string>source.scilab.plist</string>
		</array>
		<key>dhandler</key>
		<array>
			<string>text.html.mason.plist</string>
		</array>
		<key>di</key>
		<array>
			<string>source.d.plist</string>
		</array>
		<key>dict</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>diff</key>
		<array>
			<string>source.diff.plist</string>
		</array>
		<key>dist</key>
		<array>
			<string>text.xml.apple-dist.plist</string>
		</array>
		<key>dml</key>
		<array>
			<string>source.sql.plist</string>
		</array>
		<key>dmod1</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>dot</key>
		<array>
			<string>source.dot.plist</string>
		</array>
		<key>doxygen</key>
		<array>
			<string>text.html.doxygen.plist</string>
		</array>
		<key>dt</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>dtml</key>
		<array>
			<string>text.xml.plist</string>
		</array>
		<key>dylan</key>
		<array>
			<string>source.dylan.plist</string>
		</array>
		<key>e</key>
		<array>
			<string>source.eiffel.plist</string>
		</array>
		<key>el</key>
		<array>
			<string>source.lisp.plist</string>
		</array>
		<key>emakefile</key>
		<array>
			<string>source.erlang.plist</string>
		</array>
		<key>eps</key>
		<array>
			<string>source.postscript.plist</string>
		</array>
		<key>erbsql</key>
		<array>
			<string>source.sql.ruby.plist</string>
		</array>
		<key>erl</key>
		<array>
			<string>source.erlang.plist</string>
		</array>
		<key>etx</key>
		<array>
			<string>text.setext.plist</string>
		</array>
		<key>etx.txt</key>
		<array>
			<string>text.setext.plist</string>
		</array>
		<key>f</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>f77</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>f90</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>f95</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>fcgi</key>
		<array>
			<string>source.ruby.plist</string>
		</array>
		<key>for</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>fpp</key>
		<array>
			<string>source.fortran.plist</string>
		</array>
		<key>fscript</key>
		<array>
			<string>source.fscript.plist</string>
		</array>
		<key>fxscript</key>
		<array>
			<string>source.fxscript.plist</string>
		</array>
		<key>g</key>
		<array>
			<string>source.antlr.plist</string>
		</array>
		<key>gemspec</key>
		<array>
			<string>source.ruby.plist</string>
		</array>
		<key>gri</key>
		<array>
			<string>source.gri.plist</string>
		</array>
		<key>groovy</key>
		<array>
			<string>source.groovy.groovy.plist</string>
		</array>
		<key>gtd</key>
		<array>
			<string>text.gtdalt.plist</string>
			<string>text.plain.gtd.plist</string>
		</array>
		<key>gtdlog</key>
		<array>
			<string>text.gtdalt.plist</string>
		</array>
		<key>gvy</key>
		<array>
			<string>source.groovy.groovy.plist</string>
		</array>
		<key>h</key>
		<array>
			<string>source.objc.plist</string>
			<string>source.c++.plist</string>
			<string>source.c++.qt.plist</string>
			<string>source.c.plist</string>
			<string>source.objc++.plist</string>
		</array>
		<key>h++</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>haml</key>
		<array>
			<string>text.haml.plist</string>
		</array>
		<key>hh</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>hpp</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>hrl</key>
		<array>
			<string>source.erlang.plist</string>
		</array>
		<key>hs</key>
		<array>
			<string>source.haskell.plist</string>
		</array>
		<key>htaccess</key>
		<array>
			<string>source.apache-config.plist</string>
		</array>
		<key>htc</key>
		<array>
			<string>source.js.plist</string>
		</array>
		<key>htm</key>
		<array>
			<string>text.html.basic.plist</string>
		</array>
		<key>html</key>
		<array>
			<string>text.html.basic.plist</string>
		</array>
		<key>hxx</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>i</key>
		<array>
			<string>source.swig.plist</string>
		</array>
		<key>ics</key>
		<array>
			<string>source.icalendar.plist</string>
		</array>
		<key>ifb</key>
		<array>
			<string>source.icalendar.plist</string>
		</array>
		<key>ily</key>
		<array>
			<string>source.lilypond.plist</string>
		</array>
		<key>inc</key>
		<array>
			<string>text.html.basic.plist</string>
			<string>text.html.tcl.plist</string>
		</array>
		<key>inf</key>
		<array>
			<string>source.inform.plist</string>
		</array>
		<key>ini</key>
		<array>
			<string>source.ini.plist</string>
			<string>text.active4d-ini.plist</string>
		</array>
		<key>inl</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>io</key>
		<array>
			<string>source.io.plist</string>
		</array>
		<key>ipp</key>
		<array>
			<string>source.c++.plist</string>
		</array>
		<key>java</key>
		<array>
			<string>source.java.plist</string>
		</array>
		<key>js</key>
		<array>
			<string>source.js.plist</string>
		</array>
		<key>json</key>
		<array>
			<string>source.json.plist</string>
		</array>
		<key>jsp</key>
		<array>
			<string>text.xml.plist</string>
		</array>
		<key>jsx</key>
		<array>
			<string>source.js.plist</string>
		</array>
		<key>l</key>
		<array>
			<string>source.lex.plist</string>
			<string>source.lisp.plist</string>
		</array>
		<key>lgt</key>
		<array>
			<string>source.logtalk.plist</string>
		</array>
		<key>lhs</key>
		<array>
			<string>text.tex.latex.haskell.plist</string>
		</array>
		<key>lisp</key>
		<array>
			<string>source.lisp.plist</string>
		</array>
		<key>lua</key>
		<array>
			<string>source.lua.plist</string>
		</array>
		<key>ly</key>
		<array>
			<string>source.lilypond.plist</string>
		</array>
		<key>m</key>
		<array>
			<string>source.objc.plist</string>
		</array>
		<key>m3</key>
		<array>
			<string>source.modula-3.plist</string>
		</array>
		<key>mail</key>
		<array>
			<string>text.mail.markdown.plist</string>
		</array>
		<key>make</key>
		<array>
			<string>source.makefile.plist</string>
		</array>
		<key>makefile</key>
		<array>
			<string>source.makefile.plist</string>
		</array>
		<key>man</key>
		<array>
			<string>text.man.plist</string>
		</array>
		<key>markdn</key>
		<array>
			<string>text.markdown.plist</string>
		</array>
		<key>markdown</key>
		<array>
			<string>text.markdown.plist</string>
		</array>
		<key>matlab</key>
		<array>
			<string>source.matlab.plist</string>
		</array>
		<key>md</key>
		<array>
			<string>text.markdown.plist</string>
		</array>
		<key>mdown</key>
		<array>
			<string>text.markdown.plist</string>
		</array>
		<key>mediawiki</key>
		<array>
			<string>text.html.mediawiki.plist</string>
		</array>
		<key>mhtml</key>
		<array>
			<string>text.html.mason.plist</string>
		</array>
		<key>mips</key>
		<array>
			<string>source.mips.plist</string>
		</array>
		<key>ml</key>
		<array>
			<string>source.ocaml.plist</string>
		</array>
		<key>mli</key>
		<array>
			<string>source.ocaml.plist</string>
		</array>
		<key>mll</key>
		<array>
			<string>source.ocamllex.plist</string>
		</array>
		<key>mly</key>
		<array>
			<string>source.ocamlyacc.plist</string>
		</array>
		<key>mm</key>
		<array>
			<string>source.objc++.plist</string>
		</array>
		<key>moinmoin</key>
		<array>
			<string>text.moinmoin.plist</string>
		</array>
		<key>mtml</key>
		<array>
			<string>text.html.mt.plist</string>
		</array>
		<key>mud</key>
		<array>
			<string>source.lisp.plist</string>
		</array>
		<key>opml</key>
		<array>
			<string>text.xml.plist</string>
		</array>
		<key>p</key>
		<array>
			<string>source.pascal.plist</string>
		</array>
		<key>pas</key>
		<array>
			<string>source.pascal.plist</string>
		</array>
		<key>patch</key>
		<array>
			<string>source.diff.plist</string>
		</array>
		<key>pde</key>
		<array>
			<string>source.processing.plist</string>
		</array>
		<key>php</key>
		<array>
			<string>source.php.plist</string>
		</array>
		<key>phtml</key>
		<array>
			<string>text.html.basic.plist</string>
		</array>
		<key>pl</key>
		<array>
			<string>source.perl.plist</string>
		</array>
		<key>plist</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>pm</key>
		<array>
			<string>source.perl.plist</string>
		</array>
		<key>pmwiki</key>
		<array>
			<string>text.pmwiki.plist</string>
		</array>
		<key>pod</key>
		<array>
			<string>source.perl.plist</string>
		</array>
		<key>pri</key>
		<array>
			<string>source.qmake.plist</string>
		</array>
		<key>pro</key>
		<array>
			<string>source.qmake.plist</string>
		</array>
		<key>properties</key>
		<array>
			<string>source.java-props.plist</string>
		</array>
		<key>ps</key>
		<array>
			<string>source.postscript.plist</string>
		</array>
		<key>pt</key>
		<array>
			<string>text.xml.plist</string>
		</array>
		<key>py</key>
		<array>
			<string>source.python.plist</string>
		</array>
		<key>pyw</key>
		<array>
			<string>source.python.plist</string>
		</array>
		<key>r</key>
		<array>
			<string>source.r.plist</string>
			<string>source.rez.plist</string>
		</array>
		<key>ragel</key>
		<array>
			<string>source.c.ragel.plist</string>
		</array>
		<key>rake</key>
		<array>
			<string>source.ruby.plist</string>
		</array>
		<key>rb</key>
		<array>
			<string>source.ruby.plist</string>
		</array>
		<key>rbx</key>
		<array>
			<string>source.ruby.plist</string>
		</array>
		<key>rd</key>
		<array>
			<string>text.tex.latex.rd.plist</string>
		</array>
		<key>re</key>
		<array>
			<string>source.regexp.oniguruma.plist</string>
			<string>source.regexp.plist</string>
			<string>source.regexp.python.plist</string>
		</array>
		<key>rest</key>
		<array>
			<string>text.restructuredtext.plist</string>
		</array>
		<key>rhtml</key>
		<array>
			<string>text.html.ruby.plist</string>
		</array>
		<key>rjs</key>
		<array>
			<string>source.ruby.plist</string>
		</array>
		<key>rl</key>
		<array>
			<string>source.c.ragel.plist</string>
		</array>
		<key>rnw</key>
		<array>
			<string>text.tex.latex.sweave.plist</string>
		</array>
		<key>rpy</key>
		<array>
			<string>source.python.plist</string>
		</array>
		<key>rss</key>
		<array>
			<string>text.xml.plist</string>
		</array>
		<key>rst</key>
		<array>
			<string>text.restructuredtext.plist</string>
		</array>
		<key>rxml</key>
		<array>
			<string>source.ruby.rails.plist</string>
		</array>
		<key>s</key>
		<array>
			<string>source.mips.plist</string>
			<string>source.r.plist</string>
		</array>
		<key>s5</key>
		<array>
			<string>source.s5.plist</string>
		</array>
		<key>sass</key>
		<array>
			<string>text.haml.plist</string>
		</array>
		<key>savedSearch</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>scala</key>
		<array>
			<string>source.scala.plist</string>
		</array>
		<key>sce</key>
		<array>
			<string>source.scilab.plist</string>
		</array>
		<key>sch</key>
		<array>
			<string>source.scheme.plist</string>
		</array>
		<key>sci</key>
		<array>
			<string>source.scilab.plist</string>
		</array>
		<key>scm</key>
		<array>
			<string>source.scheme.plist</string>
		</array>
		<key>sconstruct</key>
		<array>
			<string>source.python.plist</string>
		</array>
		<key>script editor</key>
		<array>
			<string>source.applescript.plist</string>
		</array>
		<key>scriptSuite</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>scriptTerminology</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>scss</key>
		<array>
			<string>source.scss.plist</string>
		</array>
		<key>sh</key>
		<array>
			<string>source.shell.plist</string>
		</array>
		<key>shtml</key>
		<array>
			<string>text.html.basic.plist</string>
		</array>
		<key>sig</key>
		<array>
			<string>source.ml.plist</string>
		</array>
		<key>slate</key>
		<array>
			<string>source.slate.plist</string>
		</array>
		<key>sml</key>
		<array>
			<string>source.ml.plist</string>
		</array>
		<key>snw</key>
		<array>
			<string>text.tex.latex.sweave.plist</string>
		</array>
		<key>spim</key>
		<array>
			<string>source.mips.plist</string>
		</array>
		<key>sql</key>
		<array>
			<string>source.sql.plist</string>
		</array>
		<key>ssh_config</key>
		<array>
			<string>source.ssh-config.plist</string>
		</array>
		<key>sshd_config</key>
		<array>
			<string>source.ssh-config.plist</string>
		</array>
		<key>strings</key>
		<array>
			<string>source.strings.plist</string>
		</array>
		<key>sty</key>
		<array>
			<string>text.tex.plist</string>
		</array>
		<key>svn-commit.2.tmp</key>
		<array>
			<string>text.subversion-commit.plist</string>
		</array>
		<key>svn-commit.tmp</key>
		<array>
			<string>text.subversion-commit.plist</string>
		</array>
		<key>swg</key>
		<array>
			<string>source.swig.plist</string>
		</array>
		<key>t</key>
		<array>
			<string>source.perl.plist</string>
		</array>
		<key>t2t</key>
		<array>
			<string>text.txt2tags.plist</string>
		</array>
		<key>tcl</key>
		<array>
			<string>source.tcl.plist</string>
			<string>text.html.tcl.plist</string>
		</array>
		<key>tex</key>
		<array>
			<string>text.tex.latex.plist</string>
		</array>
		<key>textile</key>
		<array>
			<string>text.html.textile.plist</string>
		</array>
		<key>textmate</key>
		<array>
			<string>source.plist.tm-grammar.plist</string>
		</array>
		<key>thtml</key>
		<array>
			<string>source.php.cake.plist</string>
		</array>
		<key>tld</key>
		<array>
			<string>text.xml.plist</string>
		</array>
		<key>tmCommand</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>tmDelta</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>tmDragCommand</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>tmLanguage</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>tmMacro</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>tmPreferences</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>tmReleaseNotes</key>
		<array>
			<string>text.plain.release-notes.plist</string>
		</array>
		<key>tmSnippet</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>tmTheme</key>
		<array>
			<string>text.plist.plist</string>
		</array>
		<key>tmpl</key>
		<array>
			<string>text.html.basic.plist</string>
		</array>
		<key>tpl</key>
		<array>
			<string>text.html.basic.plist</string>
		</array>
		<key>tst</key>
		<array>
			<string>source.scilab.plist</string>
		</array>
		<key>tsv</key>
		<array>
			<string>text.tabular.tsv.plist</string>
		</array>
		<key>tt</key>
		<array>
			<string>text.html.tt.plist</string>
		</array>
		<key>txt</key>
		<array>
			<string>text.plain.plist</string>
		</array>
		<key>user.js</key>
		<array>
			<string>source.js.greasemonkey.plist</string>
		</array>
		<key>vb</key>
		<array>
			<string>source.asp.vb.net.plist</string>
		</array>
		<key>vss</key>
		<array>
			<string>source.pascal.vectorscript.plist</string>
		</array>
		<key>wiki</key>
		<array>
			<string>text.html.mediawiki.plist</string>
		</array>
		<key>wikipedia</key>
		<array>
			<string>text.html.mediawiki.plist</string>
		</array>
		<key>xaml</key>
		<array>
			<string>text.xml.plist</string>
		</array>
		<key>xhtml</key>
		<array>
			<string>text.html.basic.plist</string>
		</array>
		<key>xml</key>
		<array>
			<string>text.xml.plist</string>
		</array>
		<key>xsl</key>
		<array>
			<string>text.xml.xsl.plist</string>
		</array>
		<key>xslt</key>
		<array>
			<string>text.xml.xsl.plist</string>
		</array>
		<key>yaml</key>
		<array>
			<string>source.yaml.plist</string>
		</array>
		<key>yml</key>
		<array>
			<string>source.yaml.plist</string>
		</array>
		<key>zsh</key>
		<array>
			<string>source.shell.plist</string>
		</array>
	</dict>
</dict>
</plist>
