<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Hallow's Eve Custom</key>
	<string>All Hallow's Eve Custom.tmTheme</string>
	<key>BBEdit</key>
	<string>BBEdit.tmTheme</string>
	<key>Black Pearl</key>
	<string>Black Pearl.tmTheme</string>
	<key>Black Pearl II</key>
	<string>Black Pearl II.tmTheme</string>
	<key>Blackboard Black</key>
	<string>Blackboard Black.tmTheme</string>
	<key>Bongzilla</key>
	<string>Bongzilla.tmTheme</string>
	<key>CSSEdit</key>
	<string>CSSEdit.tmTheme</string>
	<key>Clouds</key>
	<string>Clouds.tmTheme</string>
	<key>Clouds Midnight</key>
	<string>Clouds Midnight.tmTheme</string>
	<key>Coda</key>
	<string>Coda.tmTheme</string>
	<key>Django</key>
	<string>Django.tmTheme</string>
	<key>Django (Smoothy)</key>
	<string>Django (Smoothy).tmTheme</string>
	<key>Emacs Strict</key>
	<string>Emacs Strict.tmTheme</string>
	<key>Espresso</key>
	<string>Espresso.tmTheme</string>
	<key>Espresso Tutti</key>
	<string>Espresso Tutti.tmTheme</string>
	<key>Fade to Grey</key>
	<string>Fade to Grey.tmTheme</string>
	<key>Fluidvision</key>
	<string>Fluidvision.tmTheme</string>
	<key>ForLaTeX</key>
	<string>ForLaTeX.tmTheme</string>
	<key>Freckle</key>
	<string>Freckle.tmTheme</string>
	<key>Friendship Bracelet</key>
	<string>Friendship Bracelet.tmTheme</string>
	<key>GitHub</key>
	<string>GitHub.tmTheme</string>
	<key>GlitterBomb</key>
	<string>GlitterBomb.tmTheme</string>
	<key>Happy happy joy joy 2</key>
	<string>Happy happy joy joy 2.tmTheme</string>
	<key>IR_Black</key>
	<string>IR_Black.tmTheme</string>
	<key>IR_White</key>
	<string>IR_White.tmTheme</string>
	<key>LAZY</key>
	<string>LAZY.tmTheme</string>
	<key>Lowlight</key>
	<string>Lowlight.tmTheme</string>
	<key>Merbivore</key>
	<string>Merbivore.tmTheme</string>
	<key>Merbivore Soft</key>
	<string>Merbivore Soft.tmTheme</string>
	<key>Monokai</key>
	<string>Monokai.tmTheme</string>
	<key>MultiMarkdown</key>
	<string>MultiMarkdown.tmTheme</string>
	<key>Pastie</key>
	<string>Pastie.tmTheme</string>
	<key>Putty</key>
	<string>Putty.tmTheme</string>
	<key>RDark</key>
	<string>RDark.tmTheme</string>
	<key>Rails Envy</key>
	<string>Rails Envy.tmTheme</string>
	<key>Railscasts</key>
	<string>Railscasts.tmTheme</string>
	<key>Ryan Light</key>
	<string>Ryan Light.tmTheme</string>
	<key>Smoothy</key>
	<string>Smoothy.tmTheme</string>
	<key>Solarized (dark)</key>
	<string>Solarized (dark).tmTheme</string>
	<key>Solarized (light)</key>
	<string>Solarized (light).tmTheme</string>
	<key>Spectacular</key>
	<string>Spectacular.tmTheme</string>
	<key>Starlight</key>
	<string>Starlight.tmTheme</string>
	<key>Summer Camp</key>
	<string>Summer Camp.tmTheme</string>
	<key>Summer Camp Mod</key>
	<string>Summer Camp Mod.tmTheme</string>
	<key>Swyphs II</key>
	<string>Swyphs II.tmTheme</string>
	<key>Tango</key>
	<string>Tango.tmTheme</string>
	<key>Text Ex Machina</key>
	<string>Text Ex Machina.tmTheme</string>
	<key>Tubster</key>
	<string>Tubster.tmTheme</string>
	<key>Vibrant Fin</key>
	<string>Vibrant Fin.tmTheme</string>
	<key>Vibrant Ink</key>
	<string>Vibrant Ink.tmTheme</string>
	<key>Vibrant Tango</key>
	<string>Vibrant Tango.tmTheme</string>
	<key>[ Argonaut ]</key>
	<string>[ Argonaut ].tmTheme</string>
	<key>fake</key>
	<string>fake.tmTheme</string>
	<key>iLife 05</key>
	<string>iLife 05.tmTheme</string>
	<key>idleFingers</key>
	<string>idleFingers.tmTheme</string>
	<key>krTheme</key>
	<string>krTheme.tmTheme</string>
	<key>monoindustrial</key>
	<string>monoindustrial.tmTheme</string>
	<key>zenburn</key>
	<string>zenburn.tmTheme</string>
</dict>
</plist>
