<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capturableScopes</key>
	<array>
		<string>YAML</string>
	</array>
	<key>fileTypes</key>
	<array>
		<string>yaml</string>
		<string>yml</string>
	</array>
	<key>foldingStartMarker</key>
	<string>^[^#]\s*.*:(\s*\[?| &amp;.+)?$</string>
	<key>foldingStopMarker</key>
	<string>^\s*$|^\s*\}|^\s*\]|^\s*\)</string>
	<key>keyEquivalent</key>
	<string>^~Y</string>
	<key>name</key>
	<string>YAML</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>include</key>
			<string>#erb</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>^(\s*)(?:(-)|(?:(-\s*)?(\w+\s*(:))))\s*(\||&gt;)</string>
			<key>beginCaptures</key>
			<dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.entry</string>
						<string>punctuation.definition.entry.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.entry.yaml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.entry</string>
						<string>punctuation.definition.entry.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.entry.yaml</string>
				</dict>
				<key>4</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>entity</string>
						<string>entity.name</string>
						<string>entity.name.tag</string>
						<string>entity.name.tag.yaml</string>
					</array>
					<key>name</key>
					<string>entity.name.tag.yaml</string>
				</dict>
				<key>5</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.separator</string>
						<string>punctuation.separator.key-value</string>
						<string>punctuation.separator.key-value.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.separator.key-value.yaml</string>
				</dict>
			</dict>
			<key>capturableScopes</key>
			<array>
				<string>string</string>
				<string>string.unquoted</string>
				<string>string.unquoted.block</string>
				<string>string.unquoted.block.yaml</string>
			</array>
			<key>end</key>
			<string>^(?!^\1)|^(?=\1(-|\w+\s*:)|#)</string>
			<key>name</key>
			<string>string.unquoted.block.yaml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#erb</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>constant</string>
				<string>constant.numeric</string>
				<string>constant.numeric.yaml</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.entry</string>
						<string>punctuation.definition.entry.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.entry.yaml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>entity</string>
						<string>entity.name</string>
						<string>entity.name.tag</string>
						<string>entity.name.tag.yaml</string>
					</array>
					<key>name</key>
					<string>entity.name.tag.yaml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.separator</string>
						<string>punctuation.separator.key-value</string>
						<string>punctuation.separator.key-value.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.separator.key-value.yaml</string>
				</dict>
				<key>4</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.entry</string>
						<string>punctuation.definition.entry.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.entry.yaml</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?:(?:(-\s*)?(\w+\s*(:)))|(-))\s*((0(x|X)[0-9a-fA-F]*)|(([0-9]+\.?[0-9]*)|(\.[0-9]+))((e|E)(\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f)?\s*$</string>
			<key>name</key>
			<string>constant.numeric.yaml</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>string</string>
				<string>string.unquoted</string>
				<string>string.unquoted.yaml</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.entry</string>
						<string>punctuation.definition.entry.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.entry.yaml</string>
				</dict>
				<key>10</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.end</string>
						<string>punctuation.definition.string.end.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.end.yaml</string>
				</dict>
				<key>11</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>string</string>
						<string>string.unquoted</string>
						<string>string.unquoted.yaml</string>
					</array>
					<key>name</key>
					<string>string.unquoted.yaml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>entity</string>
						<string>entity.name</string>
						<string>entity.name.tag</string>
						<string>entity.name.tag.yaml</string>
					</array>
					<key>name</key>
					<string>entity.name.tag.yaml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.separator</string>
						<string>punctuation.separator.key-value</string>
						<string>punctuation.separator.key-value.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.separator.key-value.yaml</string>
				</dict>
				<key>4</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.entry</string>
						<string>punctuation.definition.entry.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.entry.yaml</string>
				</dict>
				<key>5</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>string</string>
						<string>string.quoted</string>
						<string>string.quoted.double</string>
						<string>string.quoted.double.yaml</string>
					</array>
					<key>name</key>
					<string>string.quoted.double.yaml</string>
				</dict>
				<key>6</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.begin</string>
						<string>punctuation.definition.string.begin.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.begin.yaml</string>
				</dict>
				<key>7</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.end</string>
						<string>punctuation.definition.string.end.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.end.yaml</string>
				</dict>
				<key>8</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>string</string>
						<string>string.quoted</string>
						<string>string.quoted.single</string>
						<string>string.quoted.single.yaml</string>
					</array>
					<key>name</key>
					<string>string.quoted.single.yaml</string>
				</dict>
				<key>9</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.begin</string>
						<string>punctuation.definition.string.begin.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.begin.yaml</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?:(?:(-\s*)?(\w+\s*(:)))|(-))\s*(?:((&quot;)[^&quot;]*(&quot;))|((')[^']*('))|([^,{}&amp;#\[\]]+))\s*</string>
			<key>name</key>
			<string>string.unquoted.yaml</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>constant</string>
				<string>constant.other</string>
				<string>constant.other.date</string>
				<string>constant.other.date.yaml</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.entry</string>
						<string>punctuation.definition.entry.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.entry.yaml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>entity</string>
						<string>entity.name</string>
						<string>entity.name.tag</string>
						<string>entity.name.tag.yaml</string>
					</array>
					<key>name</key>
					<string>entity.name.tag.yaml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.separator</string>
						<string>punctuation.separator.key-value</string>
						<string>punctuation.separator.key-value.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.separator.key-value.yaml</string>
				</dict>
				<key>4</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.entry</string>
						<string>punctuation.definition.entry.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.entry.yaml</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?:(?:(-\s*)?(\w+\s*(:)))|(-))\s*([0-9]{4}-[0-9]{2}-[0-9]{2})\s*$</string>
			<key>name</key>
			<string>constant.other.date.yaml</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.tag</string>
				<string>meta.tag.yaml</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>entity</string>
						<string>entity.name</string>
						<string>entity.name.tag</string>
						<string>entity.name.tag.yaml</string>
					</array>
					<key>name</key>
					<string>entity.name.tag.yaml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.separator</string>
						<string>punctuation.separator.key-value</string>
						<string>punctuation.separator.key-value.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.separator.key-value.yaml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>keyword</string>
						<string>keyword.other</string>
						<string>keyword.other.omap</string>
						<string>keyword.other.omap.yaml</string>
					</array>
					<key>name</key>
					<string>keyword.other.omap.yaml</string>
				</dict>
				<key>4</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.keyword</string>
						<string>punctuation.definition.keyword.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.keyword.yaml</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(\w.*?)(:)\s*((\!\!)omap)?</string>
			<key>name</key>
			<string>meta.tag.yaml</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>variable</string>
				<string>variable.other</string>
				<string>variable.other.yaml</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.variable</string>
						<string>punctuation.definition.variable.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.variable.yaml</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(\&amp;|\*)\w.*?$</string>
			<key>name</key>
			<string>variable.other.yaml</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>&quot;</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.begin</string>
						<string>punctuation.definition.string.begin.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.begin.yaml</string>
				</dict>
			</dict>
			<key>capturableScopes</key>
			<array>
				<string>string</string>
				<string>string.quoted</string>
				<string>string.quoted.double</string>
				<string>string.quoted.double.yaml</string>
			</array>
			<key>end</key>
			<string>&quot;</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.end</string>
						<string>punctuation.definition.string.end.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.end.yaml</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.double.yaml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#escaped_char</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#erb</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>'</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.begin</string>
						<string>punctuation.definition.string.begin.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.begin.yaml</string>
				</dict>
			</dict>
			<key>capturableScopes</key>
			<array>
				<string>string</string>
				<string>string.quoted</string>
				<string>string.quoted.single</string>
				<string>string.quoted.single.yaml</string>
			</array>
			<key>end</key>
			<string>'</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.end</string>
						<string>punctuation.definition.string.end.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.end.yaml</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.single.yaml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#escaped_char</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#erb</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>`</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.begin</string>
						<string>punctuation.definition.string.begin.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.begin.yaml</string>
				</dict>
			</dict>
			<key>capturableScopes</key>
			<array>
				<string>string</string>
				<string>string.interpolated</string>
				<string>string.interpolated.yaml</string>
			</array>
			<key>end</key>
			<string>`</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.end</string>
						<string>punctuation.definition.string.end.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.end.yaml</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.interpolated.yaml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#escaped_char</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#erb</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>keyword</string>
				<string>keyword.operator</string>
				<string>keyword.operator.merge-key</string>
				<string>keyword.operator.merge-key.yaml</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>entity</string>
						<string>entity.name</string>
						<string>entity.name.tag</string>
						<string>entity.name.tag.yaml</string>
					</array>
					<key>name</key>
					<string>entity.name.tag.yaml</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>keyword</string>
						<string>keyword.operator</string>
						<string>keyword.operator.merge-key</string>
						<string>keyword.operator.merge-key.yaml</string>
					</array>
					<key>name</key>
					<string>keyword.operator.merge-key.yaml</string>
				</dict>
				<key>3</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.keyword</string>
						<string>punctuation.definition.keyword.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.keyword.yaml</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(\&lt;\&lt;): ((\*).*)$</string>
			<key>name</key>
			<string>keyword.operator.merge-key.yaml</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>invalid</string>
				<string>invalid.deprecated</string>
				<string>invalid.deprecated.trailing-whitespace</string>
				<string>invalid.deprecated.trailing-whitespace.yaml</string>
			</array>
			<key>disabled</key>
			<string>1</string>
			<key>match</key>
			<string>( |	)+$</string>
			<key>name</key>
			<string>invalid.deprecated.trailing-whitespace.yaml</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>comment</string>
				<string>comment.line</string>
				<string>comment.line.number-sign</string>
				<string>comment.line.number-sign.yaml</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.comment</string>
						<string>punctuation.definition.comment.yaml</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.comment.yaml</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?&lt;!\$)(#)(?!\{).*$\n?</string>
			<key>name</key>
			<string>comment.line.number-sign.yaml</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>keyword</string>
				<string>keyword.operator</string>
				<string>keyword.operator.symbol</string>
			</array>
			<key>match</key>
			<string>-</string>
			<key>name</key>
			<string>keyword.operator.symbol</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>^(?=\t)</string>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.leading-tabs</string>
				<string>meta.leading-tabs.yaml</string>
			</array>
			<key>end</key>
			<string>(?=[^\t])</string>
			<key>name</key>
			<string>meta.leading-tabs.yaml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>meta</string>
								<string>meta.odd-tab</string>
							</array>
							<key>name</key>
							<string>meta.odd-tab</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>meta</string>
								<string>meta.even-tab</string>
							</array>
							<key>name</key>
							<string>meta.even-tab</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\t)(\t)?</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>erb</key>
		<dict>
			<key>begin</key>
			<string>&lt;%+(?!&gt;)=?</string>
			<key>capturableScopes</key>
			<array>
				<string>source</string>
				<string>source.ruby</string>
				<string>source.ruby.rails</string>
				<string>source.ruby.rails.embedded</string>
				<string>source.ruby.rails.embedded.html</string>
			</array>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.section</string>
						<string>punctuation.section.embedded</string>
						<string>punctuation.section.embedded.ruby</string>
					</array>
					<key>name</key>
					<string>punctuation.section.embedded.ruby</string>
				</dict>
			</dict>
			<key>end</key>
			<string>%&gt;</string>
			<key>name</key>
			<string>source.ruby.rails.embedded.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>comment</string>
						<string>comment.line</string>
						<string>comment.line.number-sign</string>
						<string>comment.line.number-sign.ruby</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.comment</string>
								<string>punctuation.definition.comment.ruby</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.comment.ruby</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(#).*?(?=%&gt;)</string>
					<key>name</key>
					<string>comment.line.number-sign.ruby</string>
				</dict>
				<dict>
					<key>include</key>
					<string>source.ruby.rails</string>
				</dict>
			</array>
		</dict>
		<key>escaped_char</key>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>constant</string>
				<string>constant.character</string>
				<string>constant.character.escape</string>
				<string>constant.character.escape.yaml</string>
			</array>
			<key>match</key>
			<string>\\.</string>
			<key>name</key>
			<string>constant.character.escape.yaml</string>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.yaml</string>
	<key>uuid</key>
	<string>B0C44228-4F1F-11DA-AFF2-000A95AF0064</string>
</dict>
</plist>
