<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capturableScopes</key>
	<array>
		<string>Eiffel</string>
	</array>
	<key>fileTypes</key>
	<array>
		<string>e</string>
	</array>
	<key>foldingStartMarker</key>
	<string>(class|once|do|external)</string>
	<key>foldingStopMarker</key>
	<string>(ensure|end)</string>
	<key>keyEquivalent</key>
	<string>^~E</string>
	<key>name</key>
	<string>Eiffel</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>comment</string>
				<string>comment.line</string>
				<string>comment.line.double-dash</string>
				<string>comment.line.double-dash.eiffel</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.comment</string>
						<string>punctuation.definition.comment.eiffel</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.comment.eiffel</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(--).*$\n?</string>
			<key>name</key>
			<string>comment.line.double-dash.eiffel</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>keyword</string>
				<string>keyword.control</string>
				<string>keyword.control.eiffel</string>
			</array>
			<key>match</key>
			<string>\b(Indexing|indexing|deferred|expanded|class|inherit|rename|as|export|undefine|redefine|select|all|create|creation|feature|prefix|infix|separate|frozen|obsolete|local|is|unique|do|once|external|alias|require|ensure|invariant|variant|rescue|retry|like|check|if|else|elseif|then|inspect|when|from|loop|until|debug|not|or|and|xor|implies|old|end)\b</string>
			<key>name</key>
			<string>keyword.control.eiffel</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>variable</string>
				<string>variable.other</string>
				<string>variable.other.eiffel</string>
			</array>
			<key>match</key>
			<string>[a-zA-Z_]+</string>
			<key>name</key>
			<string>variable.other.eiffel</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>constant</string>
				<string>constant.language</string>
				<string>constant.language.eiffel</string>
			</array>
			<key>match</key>
			<string>\b(True|true|False|false|Void|void|Result|result)\b</string>
			<key>name</key>
			<string>constant.language.eiffel</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>feature</string>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.features</string>
				<string>meta.features.eiffel</string>
			</array>
			<key>end</key>
			<string>end</string>
			<key>name</key>
			<string>meta.features.eiffel</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(do|once)</string>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.effective_routine_body</string>
				<string>meta.effective_routine_body.eiffel</string>
			</array>
			<key>end</key>
			<string>(ensure|end)</string>
			<key>name</key>
			<string>meta.effective_routine_body.eiffel</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>rescue</string>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.rescue</string>
				<string>meta.rescue.eiffel</string>
			</array>
			<key>end</key>
			<string>end</string>
			<key>name</key>
			<string>meta.rescue.eiffel</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>&quot;</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.begin</string>
						<string>punctuation.definition.string.begin.eiffel</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.begin.eiffel</string>
				</dict>
			</dict>
			<key>capturableScopes</key>
			<array>
				<string>string</string>
				<string>string.quoted</string>
				<string>string.quoted.double</string>
				<string>string.quoted.double.eiffel</string>
			</array>
			<key>end</key>
			<string>&quot;</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.string</string>
						<string>punctuation.definition.string.end</string>
						<string>punctuation.definition.string.end.eiffel</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.string.end.eiffel</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.double.eiffel</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>constant</string>
						<string>constant.character</string>
						<string>constant.character.escape</string>
						<string>constant.character.escape.eiffel</string>
					</array>
					<key>match</key>
					<string>\\.</string>
					<key>name</key>
					<string>constant.character.escape.eiffel</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>constant</string>
				<string>constant.numeric</string>
				<string>constant.numeric.eiffel</string>
			</array>
			<key>match</key>
			<string>[0-9]+</string>
			<key>name</key>
			<string>constant.numeric.eiffel</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>storage</string>
				<string>storage.modifier</string>
				<string>storage.modifier.eiffel</string>
			</array>
			<key>match</key>
			<string>\b(deferred|expanded)\b</string>
			<key>name</key>
			<string>storage.modifier.eiffel</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>^\s*
																													((?:\b(deferred|expanded)\b\s*)*) # modifier
																													(class)\s+
																													(\w+)\s* # identifier</string>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.definition</string>
				<string>meta.definition.class</string>
				<string>meta.definition.class.eiffel</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>storage</string>
						<string>storage.modifier</string>
						<string>storage.modifier.eiffel</string>
					</array>
					<key>name</key>
					<string>storage.modifier.eiffel</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(?=end)</string>
			<key>name</key>
			<string>meta.definition.class.eiffel</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>\b(extends)\b\s+</string>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.definition</string>
						<string>meta.definition.class</string>
						<string>meta.definition.class.extends</string>
						<string>meta.definition.class.extends.java</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>storage</string>
								<string>storage.modifier</string>
								<string>storage.modifier.java</string>
							</array>
							<key>name</key>
							<string>storage.modifier.java</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(?={|implements)</string>
					<key>name</key>
					<string>meta.definition.class.extends.java</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#all-types</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>\b(implements)\b\s+</string>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.definition</string>
						<string>meta.definition.class</string>
						<string>meta.definition.class.implements</string>
						<string>meta.definition.class.implements.java</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>storage</string>
								<string>storage.modifier</string>
								<string>storage.modifier.java</string>
							</array>
							<key>name</key>
							<string>storage.modifier.java</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(?={|extends)</string>
					<key>name</key>
					<string>meta.definition.class.implements.java</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#all-types</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>number</key>
		<dict>
			<key>match</key>
			<string>[0-9]+</string>
		</dict>
		<key>variable</key>
		<dict>
			<key>match</key>
			<string>[a-zA-Z0-9_]+</string>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.eiffel</string>
	<key>uuid</key>
	<string>34672373-DED9-45B8-AF7E-2E4B6C3D6B76</string>
</dict>
</plist>
