<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleUUID</key>
	<string>452017E8-0065-49EF-AB9D-7849B27D9367</string>
	<key>capturableScopes</key>
	<array>
		<string>Scala</string>
	</array>
	<key>fileTypes</key>
	<array>
		<string>scala</string>
	</array>
	<key>foldingStartMarker</key>
	<string>/\*\*|\{\s*$</string>
	<key>foldingStopMarker</key>
	<string>\*\*/|^\s*\}</string>
	<key>keyEquivalent</key>
	<string>^~S</string>
	<key>name</key>
	<string>Scala</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>include</key>
			<string>#storage-modifiers</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#keywords</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#declarations</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#inheritance</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#imports</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#comments</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#block-comments</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#strings</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#initialization</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#constants</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#char-literal</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#scala-symbol</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#empty-parentheses</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#parameter-list</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#qualifiedClassName</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#xml-literal</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>block-comments</key>
		<dict>
			<key>begin</key>
			<string>/\*</string>
			<key>capturableScopes</key>
			<array>
				<string>comment</string>
				<string>comment.block</string>
				<string>comment.block.scala</string>
			</array>
			<key>end</key>
			<string>\*/</string>
			<key>name</key>
			<string>comment.block.scala</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#block-comments</string>
				</dict>
				<dict>
					<key>match</key>
					<string>(?x)
													(?! /\*)
													(?! \*/)
												  </string>
				</dict>
			</array>
		</dict>
		<key>char-literal</key>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>constant</string>
				<string>constant.character</string>
				<string>constant.character.literal</string>
				<string>constant.character.literal.scala</string>
			</array>
			<key>match</key>
			<string>'\\?.'</string>
			<key>name</key>
			<string>constant.character.literal.scala</string>
		</dict>
		<key>comments</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>comment</string>
						<string>comment.line</string>
						<string>comment.line.double-slash</string>
						<string>comment.line.double-slash.scala</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.comment</string>
								<string>punctuation.definition.comment.scala</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.comment.scala</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(//).*$\n?</string>
					<key>name</key>
					<string>comment.line.double-slash.scala</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>comment</string>
						<string>comment.block</string>
						<string>comment.block.empty</string>
						<string>comment.block.empty.scala</string>
					</array>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.comment</string>
								<string>punctuation.definition.comment.scala</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.comment.scala</string>
						</dict>
					</dict>
					<key>match</key>
					<string>/\*\*/</string>
					<key>name</key>
					<string>comment.block.empty.scala</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>(^\s*)?/\*\*</string>
					<key>capturableScopes</key>
					<array>
						<string>comment</string>
						<string>comment.block</string>
						<string>comment.block.documentation</string>
						<string>comment.block.documentation.scala</string>
					</array>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.comment</string>
								<string>punctuation.definition.comment.scala</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.comment.scala</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\*/(\s*\n)?</string>
					<key>name</key>
					<string>comment.block.documentation.scala</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.other</string>
								<string>keyword.other.documentation</string>
								<string>keyword.other.documentation.scaladoc</string>
								<string>keyword.other.documentation.scaladoc.scala</string>
							</array>
							<key>match</key>
							<string>(@\w+\s)</string>
							<key>name</key>
							<string>keyword.other.documentation.scaladoc.scala</string>
						</dict>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.other</string>
								<string>keyword.other.documentation</string>
								<string>keyword.other.documentation.scaladoc</string>
								<string>keyword.other.documentation.scaladoc.link</string>
								<string>keyword.other.documentation.scaladoc.link.scala</string>
							</array>
							<key>match</key>
							<string>\{@link\s+[^\}]*\}</string>
							<key>name</key>
							<string>keyword.other.documentation.scaladoc.link.scala</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>constants</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>constant</string>
						<string>constant.language</string>
						<string>constant.language.scala</string>
					</array>
					<key>match</key>
					<string>\b(false|null|true|Nil|None)\b</string>
					<key>name</key>
					<string>constant.language.scala</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>constant</string>
						<string>constant.numeric</string>
						<string>constant.numeric.scala</string>
					</array>
					<key>match</key>
					<string>\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\.?[0-9]*)|(\.[0-9]+))((e|E)(\+|-)?[0-9]+)?)([LlFfUuDd]|UL|ul)?\b</string>
					<key>name</key>
					<string>constant.numeric.scala</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>variable</string>
						<string>variable.language</string>
						<string>variable.language.scala</string>
					</array>
					<key>match</key>
					<string>\b(this|super|self)\b</string>
					<key>name</key>
					<string>variable.language.scala</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>storage</string>
						<string>storage.type</string>
						<string>storage.type.primitive</string>
						<string>storage.type.primitive.scala</string>
					</array>
					<key>match</key>
					<string>\b(Unit|Boolean|Byte|Char|Short|Int|Float|Long|Double)\b</string>
					<key>name</key>
					<string>storage.type.primitive.scala</string>
				</dict>
			</array>
		</dict>
		<key>declarations</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.declaration</string>
								<string>keyword.declaration.scala</string>
							</array>
							<key>name</key>
							<string>keyword.declaration.scala</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>entity</string>
								<string>entity.name</string>
								<string>entity.name.function</string>
								<string>entity.name.function.declaration</string>
							</array>
							<key>name</key>
							<string>entity.name.function.declaration</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(?x)
																\b(def)\s+
																(([a-zA-Z$_][a-zA-Z0-9$_]*(_[^a-zA-Z0-9\s]+)?)|`.*`|[^\w\[\(\:\_\s]+)</string>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.declaration</string>
								<string>keyword.declaration.scala</string>
							</array>
							<key>name</key>
							<string>keyword.declaration.scala</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.declaration</string>
								<string>keyword.declaration.scala</string>
							</array>
							<key>name</key>
							<string>keyword.declaration.scala</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>entity</string>
								<string>entity.name</string>
								<string>entity.name.class</string>
								<string>entity.name.class.declaration</string>
							</array>
							<key>name</key>
							<string>entity.name.class.declaration</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(case)?\b(class|trait|object)\s+([^\s\{\(\[]+)</string>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.declaration</string>
								<string>keyword.declaration.scala</string>
							</array>
							<key>name</key>
							<string>keyword.declaration.scala</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>entity</string>
								<string>entity.name</string>
								<string>entity.name.type</string>
								<string>entity.name.type.declaration</string>
							</array>
							<key>name</key>
							<string>entity.name.type.declaration</string>
						</dict>
					</dict>
					<key>match</key>
					<string>\b(type)\s+(([a-zA-Z$_][a-zA-Z0-9$_]*(_[^a-zA-Z0-9\s]+)?)|`.*`)</string>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.declaration</string>
								<string>keyword.declaration.stable</string>
								<string>keyword.declaration.stable.scala</string>
							</array>
							<key>name</key>
							<string>keyword.declaration.stable.scala</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.declaration</string>
								<string>keyword.declaration.volatile</string>
								<string>keyword.declaration.volatile.scala</string>
							</array>
							<key>name</key>
							<string>keyword.declaration.volatile.scala</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>entity</string>
								<string>entity.name</string>
								<string>entity.name.val</string>
								<string>entity.name.val.declaration</string>
							</array>
							<key>name</key>
							<string>entity.name.val.declaration</string>
						</dict>
					</dict>
					<key>match</key>
					<string>\b(?:(val)|(var))\s+(([a-zA-Z$_][a-zA-Z0-9$_]*(_[^a-zA-Z0-9\s]+)?)|`.*`)?</string>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.declaration</string>
								<string>keyword.declaration.scala</string>
							</array>
							<key>name</key>
							<string>keyword.declaration.scala</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>entity</string>
								<string>entity.name</string>
								<string>entity.name.class</string>
								<string>entity.name.class.declaration</string>
							</array>
							<key>name</key>
							<string>entity.name.class.declaration</string>
						</dict>
					</dict>
					<key>match</key>
					<string>\b(package object)\s+([^\s\{\(\[]+)</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.package</string>
						<string>meta.package.scala</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.other</string>
								<string>keyword.other.scoping</string>
								<string>keyword.other.scoping.scala</string>
							</array>
							<key>name</key>
							<string>keyword.other.scoping.scala</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>entity</string>
								<string>entity.name</string>
								<string>entity.name.package</string>
								<string>entity.name.package.scala</string>
							</array>
							<key>name</key>
							<string>entity.name.package.scala</string>
						</dict>
					</dict>
					<key>match</key>
					<string>\b(package)\s+([\w\.]+)</string>
					<key>name</key>
					<string>meta.package.scala</string>
				</dict>
			</array>
		</dict>
		<key>empty-parentheses</key>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.parentheses</string>
				<string>meta.parentheses.scala</string>
			</array>
			<key>match</key>
			<string>\(\)</string>
			<key>name</key>
			<string>meta.parentheses.scala</string>
		</dict>
		<key>imports</key>
		<dict>
			<key>begin</key>
			<string>\b(import)\s+</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>keyword</string>
						<string>keyword.other</string>
						<string>keyword.other.import</string>
						<string>keyword.other.import.scala</string>
					</array>
					<key>name</key>
					<string>keyword.other.import.scala</string>
				</dict>
			</dict>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.import</string>
				<string>meta.import.scala</string>
			</array>
			<key>end</key>
			<string>(?&lt;=[\n;])</string>
			<key>name</key>
			<string>meta.import.scala</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#comments</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>variable</string>
						<string>variable.package</string>
						<string>variable.package.scala</string>
					</array>
					<key>match</key>
					<string>([^\s{;.]+)\s*\.\s*</string>
					<key>name</key>
					<string>variable.package.scala</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>variable</string>
						<string>variable.import</string>
						<string>variable.import.scala</string>
					</array>
					<key>match</key>
					<string>([^\s{;.]+)\s*</string>
					<key>name</key>
					<string>variable.import.scala</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>{</string>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.import</string>
						<string>meta.import.selector</string>
						<string>meta.import.selector.scala</string>
					</array>
					<key>end</key>
					<string>}</string>
					<key>name</key>
					<string>meta.import.selector.scala</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>captures</key>
							<dict>
								<key>1</key>
								<dict>
									<key>capturableScopes</key>
									<array>
										<string>variable</string>
										<string>variable.import</string>
										<string>variable.import.renamed-from</string>
										<string>variable.import.renamed-from.scala</string>
									</array>
									<key>name</key>
									<string>variable.import.renamed-from.scala</string>
								</dict>
								<key>2</key>
								<dict>
									<key>capturableScopes</key>
									<array>
										<string>keyword</string>
										<string>keyword.other</string>
										<string>keyword.other.arrow</string>
										<string>keyword.other.arrow.scala</string>
									</array>
									<key>name</key>
									<string>keyword.other.arrow.scala</string>
								</dict>
								<key>3</key>
								<dict>
									<key>capturableScopes</key>
									<array>
										<string>variable</string>
										<string>variable.import</string>
										<string>variable.import.renamed-to</string>
										<string>variable.import.renamed-to.scala</string>
									</array>
									<key>name</key>
									<string>variable.import.renamed-to.scala</string>
								</dict>
							</dict>
							<key>match</key>
							<string>(?x) \s*
																		([^\s.,}]+) \s*
																		(=&gt;) \s*
																		([^\s.,}]+) \s*
																	  </string>
						</dict>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>variable</string>
								<string>variable.import</string>
								<string>variable.import.scala</string>
							</array>
							<key>match</key>
							<string>([^\s.,}]+)</string>
							<key>name</key>
							<string>variable.import.scala</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>inheritance</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>keyword</string>
								<string>keyword.declaration</string>
								<string>keyword.declaration.scala</string>
							</array>
							<key>name</key>
							<string>keyword.declaration.scala</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>entity</string>
								<string>entity.other</string>
								<string>entity.other.inherited-class</string>
								<string>entity.other.inherited-class.scala</string>
							</array>
							<key>name</key>
							<string>entity.other.inherited-class.scala</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(extends|with)\s+([^\s\{\(\[\]]+)</string>
				</dict>
			</array>
		</dict>
		<key>initialization</key>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>keyword</string>
					</array>
					<key>name</key>
					<string>keyword</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>entity</string>
						<string>entity.name</string>
						<string>entity.name.class</string>
					</array>
					<key>name</key>
					<string>entity.name.class</string>
				</dict>
			</dict>
			<key>match</key>
			<string>\b(new)\s+([^\s\{\(\[]+)</string>
		</dict>
		<key>keywords</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>keyword</string>
						<string>keyword.control</string>
						<string>keyword.control.flow</string>
						<string>keyword.control.flow.jump</string>
						<string>keyword.control.flow.jump.scala</string>
					</array>
					<key>match</key>
					<string>\b(return|throw)\b</string>
					<key>name</key>
					<string>keyword.control.flow.jump.scala</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>keyword</string>
						<string>keyword.control</string>
						<string>keyword.control.flow</string>
						<string>keyword.control.flow.scala</string>
					</array>
					<key>match</key>
					<string>\b(else|if|do|while|for|yield|match|case)\b</string>
					<key>name</key>
					<string>keyword.control.flow.scala</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>keyword</string>
						<string>keyword.control</string>
						<string>keyword.control.exception</string>
						<string>keyword.control.exception.scala</string>
					</array>
					<key>match</key>
					<string>\b(catch|finally|try)\b</string>
					<key>name</key>
					<string>keyword.control.exception.scala</string>
				</dict>
			</array>
		</dict>
		<key>parameter-list</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>variable</string>
								<string>variable.parameter</string>
							</array>
							<key>name</key>
							<string>variable.parameter</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>entity</string>
								<string>entity.name</string>
								<string>entity.name.class</string>
							</array>
							<key>name</key>
							<string>entity.name.class</string>
						</dict>
					</dict>
					<key>match</key>
					<string>([a-zA-Z$_][a-zA-Z0-9$_]*)\s*:\s*([A-Za-z0-9][\w|_|?|\.]*)?,?</string>
				</dict>
			</array>
		</dict>
		<key>qualifiedClassName</key>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>entity</string>
						<string>entity.name</string>
						<string>entity.name.class</string>
					</array>
					<key>name</key>
					<string>entity.name.class</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(\b([A-Z][\w]*))</string>
		</dict>
		<key>scala-symbol</key>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>entity</string>
						<string>entity.name</string>
						<string>entity.name.symbol</string>
					</array>
					<key>name</key>
					<string>entity.name.symbol</string>
				</dict>
			</dict>
			<key>match</key>
			<string>('\w+)</string>
		</dict>
		<key>storage-modifiers</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>storage</string>
						<string>storage.modifier</string>
						<string>storage.modifier.access</string>
					</array>
					<key>match</key>
					<string>\b(private\[\S+\]|protected\[\S+\]|private|protected)\b</string>
					<key>name</key>
					<string>storage.modifier.access</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>storage</string>
						<string>storage.modifier</string>
						<string>storage.modifier.other</string>
					</array>
					<key>match</key>
					<string>\b(synchronized|@volatile|abstract|final|lazy|sealed|implicit|override|@transient|@native)\b</string>
					<key>name</key>
					<string>storage.modifier.other</string>
				</dict>
			</array>
		</dict>
		<key>strings</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>&quot;&quot;&quot;</string>
					<key>capturableScopes</key>
					<array>
						<string>string</string>
						<string>string.quoted</string>
						<string>string.quoted.triple</string>
						<string>string.quoted.triple.scala</string>
					</array>
					<key>end</key>
					<string>&quot;&quot;&quot;</string>
					<key>name</key>
					<string>string.quoted.triple.scala</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>(?&lt;!\\)&quot;</string>
					<key>capturableScopes</key>
					<array>
						<string>string</string>
						<string>string.quoted</string>
						<string>string.quoted.double</string>
						<string>string.quoted.double.scala</string>
					</array>
					<key>end</key>
					<string>&quot;</string>
					<key>name</key>
					<string>string.quoted.double.scala</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>invalid</string>
								<string>invalid.string</string>
								<string>invalid.string.newline</string>
							</array>
							<key>match</key>
							<string>\n</string>
							<key>name</key>
							<string>invalid.string.newline</string>
						</dict>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>constant</string>
								<string>constant.character</string>
								<string>constant.character.escape</string>
								<string>constant.character.escape.scala</string>
							</array>
							<key>match</key>
							<string>\\.</string>
							<key>name</key>
							<string>constant.character.escape.scala</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>xml-attribute</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>entity</string>
								<string>entity.other</string>
								<string>entity.other.attribute-name</string>
							</array>
							<key>name</key>
							<string>entity.other.attribute-name</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>string</string>
								<string>string.quoted</string>
								<string>string.quoted.double</string>
							</array>
							<key>name</key>
							<string>string.quoted.double</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\w+)=(&quot;[^&quot;]*&quot;)</string>
				</dict>
			</array>
		</dict>
		<key>xml-literal</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>&lt;/?([a-zA-Z0-9]+)</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>entity</string>
								<string>entity.name</string>
								<string>entity.name.tag</string>
							</array>
							<key>name</key>
							<string>entity.name.tag</string>
						</dict>
					</dict>
					<key>capturableScopes</key>
					<array>
						<string>text</string>
						<string>text.xml</string>
					</array>
					<key>end</key>
					<string>/?&gt;</string>
					<key>name</key>
					<string>text.xml</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#xml-literal</string>
						</dict>
						<dict>
							<key>include</key>
							<string>#xml-attribute</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.scala</string>
	<key>uuid</key>
	<string>158C0929-299A-40C8-8D89-316BE0C446E8</string>
</dict>
</plist>
