<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capturableScopes</key>
	<array>
		<string>reStructuredText</string>
	</array>
	<key>comment</key>
	<string>syntax highlighting for reStructuredText http://docutils.sourceforge.net, based on rst mode from jEdit</string>
	<key>fileTypes</key>
	<array>
		<string>rst</string>
		<string>rest</string>
	</array>
	<key>keyEquivalent</key>
	<string>^~R</string>
	<key>name</key>
	<string>reStructuredText</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>begin</key>
			<string>^([ \t]*)(?=\S)</string>
			<key>contentName</key>
			<string>meta.paragraph.restructuredtext</string>
			<key>end</key>
			<string>^(?!\1(?=\S))</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#inline</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>inline</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>^([ \t]*)((\.\.)\sraw(::)) html</string>
					<key>captures</key>
					<dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>meta</string>
								<string>meta.directive</string>
								<string>meta.directive.restructuredtext</string>
							</array>
							<key>name</key>
							<string>meta.directive.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.directive</string>
								<string>punctuation.definition.directive.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.directive.restructuredtext</string>
						</dict>
						<key>4</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.separator</string>
								<string>punctuation.separator.key-value</string>
								<string>punctuation.separator.key-value.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.separator.key-value.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>directives.html</string>
					<key>end</key>
					<string>^(?!\1[ \t])</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>text.html.basic</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.other</string>
						<string>meta.other.directive</string>
						<string>meta.other.directive.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.directive</string>
								<string>punctuation.definition.directive.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.directive.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.separator</string>
								<string>punctuation.separator.key-value</string>
								<string>punctuation.separator.key-value.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.separator.key-value.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>directives</string>
					<key>match</key>
					<string>(\.\.)\s[A-z][A-z0-9-_]+(::)\s*$</string>
					<key>name</key>
					<string>meta.other.directive.restructuredtext</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>^([ \t]*).*?((::))</string>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.raw</string>
						<string>meta.raw.block</string>
						<string>meta.raw.block.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>markup</string>
								<string>markup.raw</string>
								<string>markup.raw.restructuredtext</string>
							</array>
							<key>name</key>
							<string>markup.raw.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.raw</string>
								<string>punctuation.definition.raw.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.raw.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>verbatim blocks</string>
					<key>end</key>
					<string>^(?=\1[^\s]+)</string>
					<key>name</key>
					<string>meta.raw.block.restructuredtext</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>markup</string>
								<string>markup.raw</string>
								<string>markup.raw.restructuredtext</string>
							</array>
							<key>match</key>
							<string>.+</string>
							<key>name</key>
							<string>markup.raw.restructuredtext</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.startraw</string>
						<string>meta.startraw.restructuredtext</string>
					</array>
					<key>comment</key>
					<string>directives</string>
					<key>match</key>
					<string>::</string>
					<key>name</key>
					<string>meta.startraw.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.bold</string>
						<string>markup.bold.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.italic</string>
								<string>punctuation.definition.italic.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.italic.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.italic</string>
								<string>punctuation.definition.italic.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.italic.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>strong emphasis</string>
					<key>match</key>
					<string>(\*\*)[^*]+(\*\*)</string>
					<key>name</key>
					<string>markup.bold.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.italic</string>
						<string>markup.italic.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.italic</string>
								<string>punctuation.definition.italic.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.italic.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.italic</string>
								<string>punctuation.definition.italic.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.italic.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>emphasis</string>
					<key>match</key>
					<string>(\*)\w[^*]\w+(\*)</string>
					<key>name</key>
					<string>markup.italic.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.link</string>
						<string>meta.link.reference</string>
						<string>meta.link.reference.def</string>
						<string>meta.link.reference.def.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.string</string>
								<string>punctuation.definition.string.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.string.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>string</string>
								<string>string.other</string>
								<string>string.other.link</string>
								<string>string.other.link.title</string>
								<string>string.other.link.title.restructuredtext</string>
							</array>
							<key>name</key>
							<string>string.other.link.title.restructuredtext</string>
						</dict>
						<key>4</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.separator</string>
								<string>punctuation.separator.key-value</string>
								<string>punctuation.separator.key-value.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.separator.key-value.restructuredtext</string>
						</dict>
						<key>5</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>markup</string>
								<string>markup.underline</string>
								<string>markup.underline.link</string>
								<string>markup.underline.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>markup.underline.link.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>replacement</string>
					<key>match</key>
					<string>(\.\.)\s+(_)([\w\s]+)(:)\s+(.*)</string>
					<key>name</key>
					<string>meta.link.reference.def.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.underline</string>
						<string>markup.underline.substitution</string>
						<string>markup.underline.substitution.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.substitution</string>
								<string>punctuation.definition.substitution.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.substitution.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>substitution</string>
					<key>match</key>
					<string>(\|)[^|]+(\|_{0,2})</string>
					<key>name</key>
					<string>markup.underline.substitution.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.link</string>
						<string>meta.link.reference</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>string</string>
								<string>string.other</string>
								<string>string.other.link</string>
								<string>string.other.link.title</string>
								<string>string.other.link.title.restructuredtext</string>
							</array>
							<key>name</key>
							<string>string.other.link.title.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>links `...`_ or `...`__</string>
					<key>match</key>
					<string>\b(\w+)(_)\b</string>
					<key>name</key>
					<string>meta.link.reference</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.link</string>
						<string>meta.link.reference</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>string</string>
								<string>string.other</string>
								<string>string.other.link</string>
								<string>string.other.link.title</string>
								<string>string.other.link.title.restructuredtext</string>
							</array>
							<key>name</key>
							<string>string.other.link.title.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>links `...`_ or `...`__</string>
					<key>match</key>
					<string>(`)([\w\s]+)(`_)</string>
					<key>name</key>
					<string>meta.link.reference</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.link</string>
						<string>meta.link.inline</string>
						<string>meta.link.inline.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>string</string>
								<string>string.other</string>
								<string>string.other.link</string>
								<string>string.other.link.title</string>
								<string>string.other.link.title.restructuredtext</string>
							</array>
							<key>name</key>
							<string>string.other.link.title.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.location</string>
								<string>punctuation.definition.location.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.location.restructuredtext</string>
						</dict>
						<key>4</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>markup</string>
								<string>markup.underline</string>
								<string>markup.underline.link</string>
								<string>markup.underline.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>markup.underline.link.restructuredtext</string>
						</dict>
						<key>5</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.location</string>
								<string>punctuation.definition.location.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.location.restructuredtext</string>
						</dict>
						<key>6</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>links `...`_ </string>
					<key>match</key>
					<string>(`)([\w\s]+)\s+(&lt;)(.*?)(&gt;)(`_)</string>
					<key>name</key>
					<string>meta.link.inline.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.link</string>
						<string>meta.link.footnote</string>
						<string>meta.link.footnote.def</string>
						<string>meta.link.footnote.def.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>constant</string>
								<string>constant.other</string>
								<string>constant.other.footnote</string>
								<string>constant.other.footnote.link</string>
								<string>constant.other.footnote.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>constant.other.footnote.link.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>6</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>7</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>8</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>string</string>
								<string>string.other</string>
								<string>string.other.footnote</string>
								<string>string.other.footnote.restructuredtext</string>
							</array>
							<key>name</key>
							<string>string.other.footnote.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>replacement</string>
					<key>match</key>
					<string>^(\.\.)\s+((\[)(((#?)[\w\s]*?)|\*)(\]))\s+(.*)</string>
					<key>name</key>
					<string>meta.link.footnote.def.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.link</string>
						<string>meta.link.footnote</string>
						<string>meta.link.footnote.numeric</string>
						<string>meta.link.footnote.numeric.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>constant</string>
								<string>constant.other</string>
								<string>constant.other.footnote</string>
								<string>constant.other.footnote.link</string>
							</array>
							<key>name</key>
							<string>constant.other.footnote.link</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>4</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>footnote reference: [0]_</string>
					<key>match</key>
					<string>((\[)[0-9]+(\]))(_)</string>
					<key>name</key>
					<string>meta.link.footnote.numeric.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.link</string>
						<string>meta.link.footnote</string>
						<string>meta.link.footnote.auto</string>
						<string>meta.link.footnote.auto.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>constant</string>
								<string>constant.other</string>
								<string>constant.other.footnote</string>
								<string>constant.other.footnote.link</string>
							</array>
							<key>name</key>
							<string>constant.other.footnote.link</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>4</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>footnote reference [#]_ or [#foo]_</string>
					<key>match</key>
					<string>((\[#)[A-z0-9_]*(\]))(_)</string>
					<key>name</key>
					<string>meta.link.footnote.auto.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.link</string>
						<string>meta.link.footnote</string>
						<string>meta.link.footnote.symbol</string>
						<string>meta.link.footnote.symbol.auto</string>
						<string>meta.link.footnote.symbol.auto.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>constant</string>
								<string>constant.other</string>
								<string>constant.other.footnote</string>
								<string>constant.other.footnote.link</string>
								<string>constant.other.footnote.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>constant.other.footnote.link.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>4</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>footnote reference [*]_</string>
					<key>match</key>
					<string>((\[)\*(\]))(_)</string>
					<key>name</key>
					<string>meta.link.footnote.symbol.auto.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.link</string>
						<string>meta.link.citation</string>
						<string>meta.link.citation.def</string>
						<string>meta.link.citation.def.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>constant</string>
								<string>constant.other</string>
								<string>constant.other.citation</string>
								<string>constant.other.citation.link</string>
								<string>constant.other.citation.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>constant.other.citation.link.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>4</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>5</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>6</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>string</string>
								<string>string.other</string>
								<string>string.other.citation</string>
								<string>string.other.citation.restructuredtext</string>
							</array>
							<key>name</key>
							<string>string.other.citation.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>replacement</string>
					<key>match</key>
					<string>^(\.\.)\s+((\[)[A-z][A-z0-9]*(\]))(_)\s+(.*)</string>
					<key>name</key>
					<string>meta.link.citation.def.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.link</string>
						<string>meta.link.citation</string>
						<string>meta.link.citation.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>constant</string>
								<string>constant.other</string>
								<string>constant.other.citation</string>
								<string>constant.other.citation.link</string>
								<string>constant.other.citation.link.restructuredtext</string>
							</array>
							<key>name</key>
							<string>constant.other.citation.link.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
						<key>4</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.constant</string>
								<string>punctuation.definition.constant.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.constant.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>citation reference</string>
					<key>match</key>
					<string>((\[)[A-z][A-z0-9_-]*(\]))(_)</string>
					<key>name</key>
					<string>meta.link.citation.restructuredtext</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>``</string>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.raw</string>
						<string>markup.raw.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.raw</string>
								<string>punctuation.definition.raw.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.raw.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>inline literal</string>
					<key>end</key>
					<string>``</string>
					<key>name</key>
					<string>markup.raw.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.other</string>
						<string>markup.other.command</string>
						<string>markup.other.command.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.intepreted</string>
								<string>punctuation.definition.intepreted.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.intepreted.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.intepreted</string>
								<string>punctuation.definition.intepreted.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.intepreted.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>intepreted text</string>
					<key>match</key>
					<string>(`)[^`]+(`)(?!_)</string>
					<key>name</key>
					<string>markup.other.command.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>entity</string>
						<string>entity.name</string>
						<string>entity.name.tag</string>
						<string>entity.name.tag.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.field</string>
								<string>punctuation.definition.field.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.field.restructuredtext</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.field</string>
								<string>punctuation.definition.field.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.field.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>field list</string>
					<key>match</key>
					<string>(:)[A-z][A-z0-9  =\s\t_]*(:)</string>
					<key>name</key>
					<string>entity.name.tag.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.other</string>
						<string>markup.other.table</string>
						<string>markup.other.table.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.table</string>
								<string>punctuation.definition.table.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.table.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>table</string>
					<key>match</key>
					<string>\+-[+-]+</string>
					<key>name</key>
					<string>markup.other.table.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.other</string>
						<string>markup.other.table</string>
						<string>markup.other.table.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.table</string>
								<string>punctuation.definition.table.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.table.restructuredtext</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>table</string>
					<key>match</key>
					<string>\+=[+=]+</string>
					<key>name</key>
					<string>markup.other.table.restructuredtext</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.heading</string>
						<string>markup.heading.restructuredtext</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.heading</string>
								<string>punctuation.definition.heading.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.heading.restructuredtext</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(^(=|-|~|`|#|&quot;|\^|\+|\*){3,}$){1,1}?</string>
					<key>name</key>
					<string>markup.heading.restructuredtext</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>^(\.\.)</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.comment</string>
								<string>punctuation.definition.comment.restructuredtext</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.comment.restructuredtext</string>
						</dict>
					</dict>
					<key>capturableScopes</key>
					<array>
						<string>comment</string>
						<string>comment.line</string>
						<string>comment.line.double-dot</string>
						<string>comment.line.double-dot.restructuredtext</string>
					</array>
					<key>comment</key>
					<string>comment</string>
					<key>end</key>
					<string>$\n?</string>
					<key>name</key>
					<string>comment.line.double-dot.restructuredtext</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>text.restructuredtext</string>
	<key>uuid</key>
	<string>62DA9AD6-36E1-4AB7-BB87-E933AD9FD1A4</string>
</dict>
</plist>
