<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capturableScopes</key>
	<array>
		<string>MoinMoin</string>
	</array>
	<key>fileTypes</key>
	<array>
		<string>moinmoin</string>
	</array>
	<key>keyEquivalent</key>
	<string>^~M</string>
	<key>name</key>
	<string>MoinMoin</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>markup</string>
				<string>markup.heading</string>
				<string>markup.heading.1</string>
				<string>markup.heading.1.moinmoin</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.heading</string>
						<string>punctuation.definition.heading.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.heading.moimoin</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.heading</string>
						<string>punctuation.definition.heading.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.heading.moimoin</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*(=)\s.*\s(=)\n</string>
			<key>name</key>
			<string>markup.heading.1.moinmoin</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>markup</string>
				<string>markup.heading</string>
				<string>markup.heading.2</string>
				<string>markup.heading.2.moinmoin</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.heading</string>
						<string>punctuation.definition.heading.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.heading.moimoin</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.heading</string>
						<string>punctuation.definition.heading.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.heading.moimoin</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*(==)\s.*\s(==)\n</string>
			<key>name</key>
			<string>markup.heading.2.moinmoin</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>markup</string>
				<string>markup.heading</string>
				<string>markup.heading.3</string>
				<string>markup.heading.3.moinmoin</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.heading</string>
						<string>punctuation.definition.heading.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.heading.moimoin</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.heading</string>
						<string>punctuation.definition.heading.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.heading.moimoin</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*(===)\s.*\s(===)\n</string>
			<key>name</key>
			<string>markup.heading.3.moinmoin</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>markup</string>
				<string>markup.heading</string>
				<string>markup.heading.4</string>
				<string>markup.heading.4.moinmoin</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.heading</string>
						<string>punctuation.definition.heading.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.heading.moimoin</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.heading</string>
						<string>punctuation.definition.heading.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.heading.moimoin</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*(====)\s.*\s(====)\n</string>
			<key>name</key>
			<string>markup.heading.4.moinmoin</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>markup</string>
				<string>markup.heading</string>
				<string>markup.heading.5</string>
				<string>markup.heading.5.moinmoin</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.heading</string>
						<string>punctuation.definition.heading.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.heading.moimoin</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.heading</string>
						<string>punctuation.definition.heading.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.heading.moimoin</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*(=====)\s.*\s(=====)\n</string>
			<key>name</key>
			<string>markup.heading.5.moinmoin</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.separator</string>
				<string>meta.separator.moinmoin</string>
			</array>
			<key>match</key>
			<string>^\s*-----\s*\n</string>
			<key>name</key>
			<string>meta.separator.moinmoin</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.pragma</string>
				<string>meta.pragma.moimoin</string>
			</array>
			<key>match</key>
			<string>^#pragma.*</string>
			<key>name</key>
			<string>meta.pragma.moimoin</string>
		</dict>
		<dict>
			<key>capturableScopes</key>
			<array>
				<string>comment</string>
				<string>comment.line</string>
				<string>comment.line.double-number-sign</string>
				<string>comment.line.double-number-sign.moimoin</string>
			</array>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.comment</string>
						<string>punctuation.definition.comment.moimoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.comment.moimoin</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^(##).*$\n?</string>
			<key>name</key>
			<string>comment.line.double-number-sign.moimoin</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>^\s+(.*?(::))(?=\s+\S)</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.list</string>
						<string>markup.list.definition</string>
						<string>markup.list.definition.term</string>
						<string>markup.list.definition.term.moinmoin</string>
					</array>
					<key>name</key>
					<string>markup.list.definition.term.moinmoin</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.separator</string>
						<string>punctuation.separator.definition</string>
						<string>punctuation.separator.definition.moinmoin</string>
					</array>
					<key>name</key>
					<string>punctuation.separator.definition.moinmoin</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.list.definition.moinmoin</string>
			<key>end</key>
			<string>\n</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#inline</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>^\s+(\*)(\s)</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.list_item</string>
						<string>punctuation.definition.list_item.moinmoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.list_item.moinmoin</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.list</string>
						<string>markup.list.unnumbered</string>
						<string>markup.list.unnumbered.moinmoin</string>
					</array>
					<key>name</key>
					<string>markup.list.unnumbered.moinmoin</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.list.unnumbered.moinmoin</string>
			<key>end</key>
			<string>\n</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#inline</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>^\s+((?:[aAiI]|\d+)\.(?:\#\d+)?)(\s)</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.list_item</string>
						<string>punctuation.definition.list_item.moinmoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.list_item.moinmoin</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.list</string>
						<string>markup.list.numbered</string>
						<string>markup.list.numbered.moinmoin</string>
					</array>
					<key>name</key>
					<string>markup.list.numbered.moinmoin</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>markup.list.numbered.moinmoin</string>
			<key>end</key>
			<string>\n</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#inline</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>^\s*(\|\|)</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.table</string>
						<string>punctuation.definition.table.column</string>
						<string>punctuation.definition.table.column.moinmoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.table.column.moinmoin</string>
				</dict>
				<key>2</key>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>punctuation</string>
						<string>punctuation.definition</string>
						<string>punctuation.definition.table</string>
						<string>punctuation.definition.table.column</string>
						<string>punctuation.definition.table.column.moinmoin</string>
					</array>
					<key>name</key>
					<string>punctuation.definition.table.column.moinmoin</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>meta.table.moinmoin</string>
			<key>end</key>
			<string>(\|\|$)|\n</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#inline</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>^\s*(?=\S)</string>
			<key>capturableScopes</key>
			<array>
				<string>meta</string>
				<string>meta.paragraph</string>
				<string>meta.paragraph.moinmoin</string>
			</array>
			<key>end</key>
			<string>\n</string>
			<key>name</key>
			<string>meta.paragraph.moinmoin</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#inline</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>inline</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>\{{3}(?!.*\}{3})</string>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.raw</string>
						<string>markup.raw.block</string>
						<string>markup.raw.block.moinmoin</string>
					</array>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.raw</string>
								<string>punctuation.definition.raw.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.raw.moinmoin</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\}{3}</string>
					<key>name</key>
					<string>markup.raw.block.moinmoin</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.raw</string>
						<string>markup.raw.inline</string>
						<string>markup.raw.inline.moinmoin</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.raw</string>
								<string>punctuation.definition.raw.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.raw.moinmoin</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.raw</string>
								<string>punctuation.definition.raw.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.raw.moinmoin</string>
						</dict>
						<key>3</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.raw</string>
								<string>punctuation.definition.raw.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.raw.moinmoin</string>
						</dict>
						<key>4</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.raw</string>
								<string>punctuation.definition.raw.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.raw.moinmoin</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(`)[^`]*(`)|({{{).*?(}}})</string>
					<key>name</key>
					<string>markup.raw.inline.moinmoin</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>'{2}(?='{3}[^']*'{3})</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.italic</string>
								<string>punctuation.definition.italic.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.italic.moinmoin</string>
						</dict>
					</dict>
					<key>contentName</key>
					<string>markup.italic.moinmoin</string>
					<key>end</key>
					<string>'{2}(?!')|'{2}(?='{3})</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#inline</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>'{3}</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.bold</string>
								<string>punctuation.definition.bold.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.bold.moinmoin</string>
						</dict>
					</dict>
					<key>contentName</key>
					<string>markup.bold.moinmoin</string>
					<key>end</key>
					<string>'{3}</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#inline</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>'{2}</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.italic</string>
								<string>punctuation.definition.italic.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.italic.moinmoin</string>
						</dict>
					</dict>
					<key>contentName</key>
					<string>markup.italic.moinmoin</string>
					<key>end</key>
					<string>'{2}(?!')|'{2}(?='{3})</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#inline</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>__</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.underline</string>
								<string>punctuation.definition.underline.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.underline.moinmoin</string>
						</dict>
					</dict>
					<key>contentName</key>
					<string>markup.underline.moinmoin</string>
					<key>end</key>
					<string>__</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#inline</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.underline</string>
						<string>markup.underline.link</string>
						<string>markup.underline.link.moinmoin</string>
					</array>
					<key>match</key>
					<string>(?&lt;!\!)/?(?:[A-Z][a-z0-9]+[A-Z][a-z0-9]+[A-Za-z0-9]*)</string>
					<key>name</key>
					<string>markup.underline.link.moinmoin</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.underline</string>
						<string>markup.underline.link</string>
						<string>markup.underline.link.moinmoin</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.moinmoin</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.moinmoin</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\[&quot;).*?(&quot;\])</string>
					<key>name</key>
					<string>markup.underline.link.moinmoin</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.underline</string>
						<string>markup.underline.link</string>
						<string>markup.underline.link.moinmoin</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.moinmoin</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.moinmoin</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\[):.*?:.*?(\])</string>
					<key>name</key>
					<string>markup.underline.link.moinmoin</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.underline</string>
						<string>markup.underline.link</string>
						<string>markup.underline.link.moinmoin</string>
					</array>
					<key>match</key>
					<string>https?://\S+</string>
					<key>name</key>
					<string>markup.underline.link.moinmoin</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.underline</string>
						<string>markup.underline.link</string>
						<string>markup.underline.link.moinmoin</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.moinmoin</string>
						</dict>
						<key>2</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.link</string>
								<string>punctuation.definition.link.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.link.moinmoin</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\[)https?://.*?(\])</string>
					<key>name</key>
					<string>markup.underline.link.moinmoin</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>markup</string>
						<string>markup.underline</string>
						<string>markup.underline.link</string>
						<string>markup.underline.link.moinmoin</string>
					</array>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.separator</string>
								<string>punctuation.separator.key-value</string>
								<string>punctuation.separator.key-value.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.separator.key-value.moinmoin</string>
						</dict>
					</dict>
					<key>match</key>
					<string>attachment(:)\S+</string>
					<key>name</key>
					<string>markup.underline.link.moinmoin</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.table</string>
						<string>meta.table.column</string>
						<string>meta.table.column.moinmoin</string>
					</array>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.table</string>
								<string>punctuation.definition.table.column</string>
								<string>punctuation.definition.table.column.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.table.column.moinmoin</string>
						</dict>
					</dict>
					<key>match</key>
					<string>\|\|</string>
					<key>name</key>
					<string>meta.table.column.moinmoin</string>
				</dict>
				<dict>
					<key>capturableScopes</key>
					<array>
						<string>meta</string>
						<string>meta.macro</string>
						<string>meta.macro.moinmoin</string>
					</array>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>capturableScopes</key>
							<array>
								<string>punctuation</string>
								<string>punctuation.definition</string>
								<string>punctuation.definition.macro</string>
								<string>punctuation.definition.macro.moinmoin</string>
							</array>
							<key>name</key>
							<string>punctuation.definition.macro.moinmoin</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\[\[).*?(\]\])</string>
					<key>name</key>
					<string>meta.macro.moinmoin</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>text.moinmoin</string>
	<key>uuid</key>
	<string>DB315CBC-23FD-4952-9D64-F2AC0618A840</string>
</dict>
</plist>
