<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Source Code and Text Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.source-code</string>
				<string>public.text</string>
				<string>com.nus.arc.source</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>arc72.png</string>
				<string>arc144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>nus.cs3217.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-q591oqy8n4yxgt1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>SourceCodePro-Regular.ttf</string>
		<string>Inconsolata.ttf</string>
		<string>UbuntuMono.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.source-code</string>
				<string>public.script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Source File</string>
			<key>UTTypeIdentifier</key>
			<string>com.nus.arc.source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>as</string>
					<string>adb</string>
					<string>ads</string>
					<string>conf</string>
					<string>htaccess</string>
					<string>asp</string>
					<string>bbl</string>
					<string>cs</string>
					<string>coffee</string>
					<string>cfm</string>
					<string>cfc</string>
					<string>css</string>
					<string>csv</string>
					<string>d</string>
					<string>e</string>
					<string>erl</string>
					<string>f</string>
					<string>for</string>
					<string>f90</string>
					<string>f95</string>
					<string>groovy</string>
					<string>hs</string>
					<string>lhs</string>
					<string>ini</string>
					<string>jade</string>
					<string>json</string>
					<string>tex</string>
					<string>cls</string>
					<string>sty</string>
					<string>bib</string>
					<string>bst</string>
					<string>less</string>
					<string>lisp</string>
					<string>lua</string>
					<string>makefile</string>
					<string>md</string>
					<string>m</string>
					<string>mips</string>
					<string>ml</string>
					<string>mli</string>
					<string>p</string>
					<string>pas</string>
					<string>php</string>
					<string>phtml</string>
					<string>php4</string>
					<string>php3</string>
					<string>php5</string>
					<string>phps</string>
					<string>pl</string>
					<string>pro</string>
					<string>P</string>
					<string>plist</string>
					<string>r</string>
					<string>rjs</string>
					<string>erb</string>
					<string>haml</string>
					<string>scala</string>
					<string>scm</string>
					<string>ss</string>
					<string>sql</string>
					<string>textile</string>
					<string>v</string>
					<string>vhdl</string>
					<string>xml</string>
					<string>xaml</string>
					<string>yaml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
